{{!< default}}
{{! This is a page template. A page outputs content just like any other post, and has all the same attributes by default, but you can also customise it to behave differently if you prefer. }}
{{! Everything inside the #post tags pulls data from the page }}
{{#post}}
  <header class="main-header post-head archiver-post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
  {{navigation}}
  <div class="vertical">
    <div class="main-header-content inner">
      <h1 class="page-title">时间线</h1>
      <h2 class="page-description"></h2>
    </div>
  </div>
  </header>

  <main class="content archive-content" role="main" id="archive-list-container">
  </main>
{{/post}}
